*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.content{
    width: 90%;
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.placeOrder{
    width: 450px;
    height: 400px;
    background: linear-gradient(to right, #FBEE97 , #ADEDD5);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    
}
.placeOrder button{
    width: 150px;
    color: white;
    font-weight: bold;
    background-color: #E65C4F;
    height: 35px;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}
.placeOrder button:hover{
    letter-spacing: 3px;
    transition: 500ms;
}
.placeOrder button:active{
    background-color: white;
    color: black;
}
.payment{
    height: 150px;
    padding: 30px 0px;
    margin: 20px 0px;
    line-height: 60px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
}
.payment span{
    text-align: right;
}
.block{
    width: 750px;
    padding: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
}
.item{
    border: 2px solid black;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.image{
    width: 200px;
    height: 200px;
}
.image img{
    height: 100%;
    width: 100%;
}
.details{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.button{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: yellowgreen;
}
.button button:hover{
    border: 2px solid cadetblue;
}
.button button:active{
    background-color: yellow;
}